<%= form_for(current_user.inverse_friendships.find_by_user_id(@user)) do |f| %>
  	<div><%= f.hidden_field :status, :value => "accepted" %></div>
  	<div class="actions"><%= f.submit "accepter" %></div>
<% end %>
