<%= form_for current_user.friendships.
                          build(:friend_id => @user.id, :status => "pending") do |f| %>
  	<div><%= f.hidden_field :friend_id %></div>
  	<div><%= f.hidden_field :status %></div>
  	<div class="actions"><%= f.submit "Ajouter comme ami" %></div>
<% end %>
