<li>
  <%= image_tag user.avatar.url(:small) %>
  <%= link_to user.nom, user %>
  <% if current_user.admin? %>
  | <%= link_to "supprimer l'utilisateur", user, :method => :delete, :data => {:confirm => 'Are you sure?'},
                                :title => "Supprimer #{user.nom}" %>
  <% end %>
</li>
