<% unless @feed2_items.empty? %>
        <table class="feed2" summary="feed2">
        <%= render partial: "shared/feed2_item", collection: @feed2_items %>
        </table>
        <%#<%= will_paginate @recommendations %>
<% end %>
